/**
 * GOOGLE FONT
 */
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

/** 
 * THEME VARIABLES
 */
@import "variables.scss";

/**
 * PLUGINS
 */
// BOOTSTRAP
@import "../plugins/bootstrap/scss/bootstrap.scss";

// FONTAWESOME
$fa-font-path: "../plugins/font-awesome/webfonts" !default;
@import "../plugins/font-awesome/scss/fontawesome";
@import "../plugins/font-awesome/scss/solid";
@import "../plugins/font-awesome/scss/regular";
@import "../plugins/font-awesome/scss/brands";

// FONTAWESOME ICONPICKER
@import "../plugins/fontawesome-iconpicker/dist/css/fontawesome-iconpicker";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

// Custom modifications
@import "nestable.scss";

#toast {
	position:fixed;
	bottom:3rem;
	right:3rem;

	.toast {
		min-width:240px;

		a:hover {
			text-decoration:none;
		}
	}
}

div.error-section {
	a.toggle-link {
		transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
		border: 1px solid transparent;
		text-align: center;
		vertical-align: middle;
		user-select: none;
		font-weight: 400;
		color: #fff;
		background-color: #1cc88a;
		border-color: #1cc88a;
		padding: .25rem .5rem;
		font-size: .875rem;
		line-height: 1.5;
		border-radius: .2rem;
		box-shadow: 0 0.125rem 0.25rem 0 rgba(58,59,69,0.2) !important;
		margin-bottom:1rem;

		&:hover {
			text-decoration:none;
			color: #fff;
			background-color: #17a673;
			border-color: #169b6b;
		}
	}

	ul.stack-trace {
		list-style:none;
		padding:0;
		margin:0;

		li {
			border-bottom:1px solid #d4d3d4;
			margin-bottom:0.5rem;
			padding-bottom:0.5rem;

			&:last-child {
				border-bottom:0;
				margin:0;
				padding:0;
			}

			a {
				font-size:.75rem;

			}
		}
	}

	div.error-inner {
		position:relative;

		a.stack-frame-args {
			position:absolute;
			top:1rem;
			right:1rem;
		}
	}
}

.iconpicker-popover.popover.fade.in {
	opacity:1;
}

.table.no-border-top tr:first-child {
	th, td {
		border-top:0px !important;
	}	
}

@media(max-width: 767px) {
	ul#accordionSidebar {
		display:none;
		position:absolute;
		top:4.2rem;
		left:0;
		z-index:99999;
		width:100% !important;
		overflow:auto !important;
		padding-bottom:2rem;
		height:auto !important;
		min-height:auto !important;

	-webkit-transition: height 0.5s linear;
	   -moz-transition: height 0.5s linear;
		-ms-transition: height 0.5s linear;
		 -o-transition: height 0.5s linear;
			transition: height 0.5s linear;

		&.toggled {
			display:block !important;

	 -webkit-transition: height 0.5s linear;
		-moz-transition: height 0.5s linear;
		 -ms-transition: height 0.5s linear;
		  -o-transition: height 0.5s linear;
			 transition: height 0.5s linear;
		}

		li {
			a {
				display:block;
				width:100%;
				text-align:left;
				padding:15px 0;

				i, span {
					display:block;
					float:left;
					margin-left:1rem;
				}
			}
		}

		.sidebar-heading {
			text-align:left;
		}

		.sidebar-brand .sidebar-brand-text {
			display:block;
		}

		hr.sidebar-divider {
			margin:1rem !important;
		}
	}
}

div.navTree ul[data-level] {
	list-style: none;
	padding-left:5%;

	li {
		list-style:none;
		cursor:pointer;
	}
}

div.error-section {
	margin-top:2rem;

	div.error-inner {
		padding:1rem;
		background:#060606;
		color:#d4d3d4;

		p {
			margin:1rem 0;
		}

		.error {
			color:inherit;
			font-size:inherit;
			position:inherit;
			line-height:inherit;
			width:inherit;
		}

		div.error-suggestion {
			border-top:1px solid #d4d3d4;
			margin-top:1rem;
			padding-top:1rem;
		}

		div.stack-frame-header {
			margin-bottom:0.5rem;
		}
	}
}

.grid-margin {
	margin-bottom: 1rem;
}

.profile-page {
	.profile-header {
		box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
		border: 1px solid #f2f4f9;

		.cover {
			position: relative;
			border-radius: .25rem .25rem 0 0;

			.gray-shade {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 99%);
			}

			figure {
				margin-bottom: 0;

				img {
					border-radius: .25rem .25rem 0 0;
					width: 100%;
				}
			}

			.cover-body {
				position: absolute;
				bottom: -20px;
				left: 0;
				z-index: 2;
				width: 100%;
				padding: 0 20px;

				.profile-pic {
					border-radius: 50%;
					width: 100px;
				}

				.profile-name {
					font-size: 20px;
					font-weight: 600;
					margin-left: 17px;
				}
			}
		}

		.header-links {
			padding: 15px;
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: center;
			justify-content: center;
			background: #fff;
			border-radius: 0 0 .25rem .25rem;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					a {
						color:#000;

						&:hover {
							color: #727cf5;
							text-decoration:none;
						}
					}

					&.active a {
						color: #727cf5;
						text-decoration:none;
					}
				}
			}
		}
	}

	.profile-body {
		p {
			font-size:0.8rem;
		}

		.right-wrapper {
			.latest-photos {
				& > .row {
					margin-right: 0;
					margin-left: 0;

					& > div {
						padding-left:3px;
						padding-right:3px;

						figure {
							-webkit-transition: all .3s ease-in-out;
							transition: all .3s ease-in-out;
							margin-bottom: 6px;

							img {
								border-radius: .25rem;
							}

							&:hover {
								-webkit-transform: scale(1.06);
								transform: scale(1.06);
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.profile-page {
		.profile-header {
			.cover {
				figure {
					height: 110px;
					overflow: hidden;

					img {
						-webkit-transform: scale(2);
						transform: scale(2);
						margin-top: 15px;
					}
				}

				.cover-body {
					.profile-pic {
						width:70px;
					}
				}
			}
		}
	}
}

.img-xs {
	width: 37px;
	height: 37px;
}

.card {
	box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
	-webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
	-moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
	-ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
	border:0;
	position: relative;
	border-radius: .25rem .25rem 0 0;

	p {
		margin:0;
	}

	.card-header {
		&:first-child {
			border-radius: 0 0 0 0;
		}
	}

	.card-title {
		color: #000;
		margin-bottom: 1.2rem;
		text-transform: uppercase;
		font-size: .875rem;
		font-weight: 600;
	}

	.card-footer {
		padding: 0.875rem 1.5rem;
		background-color: rgba(0, 0, 0, 0);
		border-top: 1px solid #f2f4f9;

		&:last-child {
			border-radius:0 0 0 0;
		}
	}
}

div.tab-content {
	border: 1px solid transparent;
	border-color:#fff #dddfeb #dddfeb #dddfeb;
}

.tox-notifications-container, .tox-statusbar__branding {display: none !important;}